html{
    min-height: 100%;
}

body{
    background:
    /* Linear gradiant created using the "easing-gradiants" tool from larsenwork.com */
        linear-gradient(
          180deg,
          hsl(0, 0%, 0%) 0%,
          hsl(0, 0%, 1.56%) 18.2%,
          hsl(0, 0%, 2.75%) 34%,
          hsl(0, 0%, 3.91%) 47.6%,
          hsl(0, 0%, 5.05%) 59.3%,
          hsl(0, 0%, 6.16%) 69%,
          hsl(0, 0%, 7.25%) 77.1%,
          hsl(0, 0%, 8.31%) 83.6%,
          hsl(0, 0%, 9.35%) 88.8%,
          hsl(0, 0%, 10.38%) 92.7%,
          hsl(0, 0%, 11.37%) 95.6%,
          hsl(0, 0%, 12.35%) 97.6%,
          hsl(0, 0%, 13.3%) 98.9%,
          hsl(0, 0%, 14.22%) 99.6%,
          hsl(0, 0%, 15.12%) 99.9%,
          hsl(0, 0%, 16%) 100%
        ) fixed;
      };

div.homePage{
    position: relative;
    height: 100%;
}

.titleText{
    text-align: end;
    position: relative;
    top: -55rem;
    right: 5rem;
    font-family: 'Nunito', sans-serif;
    font-size: 3.4rem;
    padding-top: 0.2em;
    padding-right: 2rem;
    color: #fffcf2;
}
.animation {
    height:120px;
    overflow:hidden;
    margin-left: 84rem;
    margin-top: -54rem;
    font-family: 'Nunito', sans-serif;
    
    text-shadow: 0 0 3px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
    color: #fffcf2;
    font-size: 2.8rem;

  }
  
  .animation > div > div {
    padding: 0.25rem 0.75rem;
    height:fit-content;
    margin-bottom: 2.81rem;
    display:inline-block;
  }
  
  .animation div:first-child {
    animation: text-animation 13s infinite;
  }

  .secondTitle div {
    /* background-color:#040404; */
    border-radius: 45px;
  }
  .thirdTitle div {
    /* background-color:#040404; */
    border-radius: 45px;
    margin-left: 4rem;
  }
  .fourthTitle div {
    /* background-color:#040404; */
    border-radius: 45px;
    margin-left: 4rem;
  }
  
  @keyframes text-animation {
    0% {margin-top: 0;}
    10% {margin-top: 0;}
    20% {margin-top: -5.62rem;}
    30% {margin-top: -5.62rem;}
    40% {margin-top: -11.24rem;}
    60% {margin-top: -11.24rem;}
    70% {margin-top: -5.62rem;}
    80% {margin-top: -5.62rem;}
    90% {margin-top: 0;}
    100% {margin-top: 0;}
  }



.mainButton{
    position: relative;
    margin-left: 55rem;
    margin-bottom: 10rem;
    margin-top: 29rem;
    height: 4rem;
    width: 15rem;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}
#mainBtnLink
{
    text-decoration: none;
}
.mainButton {
	color: #fff;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #3A5CA6;
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-top: 20rem;
  margin-left: 55rem;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
.mainButton:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: nthree;
}
.mainButton:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}
.mainButton:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #3A5CA6;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}




/* media queries 375px to 430px*/
@media (min-width: 375px) and (max-width: 430px){
    .titleText
    {
        top: 1rem;
        margin-left: 10rem;
        margin-right: -5rem;
        margin-top: 3%;
        font-size: 25px;
        text-align: end;
    }
     img
    {
        max-width: 100%;
        height: 24rem;
        left: -50px;
        position: absolute;
    }
    .mainButton{
      color: #fff;
      cursor: pointer;
      display: block;
      position: relative;
      border: 2px solid #3A5CA6;
      margin-right: 0rem;
      margin-bottom: 0rem;
      margin-top: 0rem;
      margin-left: 0rem;
      height: 50%;
      width: 50%;
      transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    }
    .mainButton:hover {
      color: #000 !important;
      background-color: transparent;
      text-shadow: nthree;
    }
    .mainButton:hover:before {
      left: 0%;
      right: auto;
      width: 100%;
    }
    .mainButton:before {
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
      height: 100%;
      width: 0px;
      z-index: -1;
      content: '';
      color: #000 !important;
      background: #3A5CA6;
      transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    }

    
}
