.navbar-custom
{
    background: #CCCCCC;
}

#techFrameworks
{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navbar-custom
{ 
    height: 64px;
    margin-left: -4rem;
}

.nav-item
{
    font-size: 18px;
}


.allTabs
{
    margin-left: -5rem;
}


@media (min-width: 375px) and (max-width: 430px)
{
    .CrtModel
    {
        position: relative;
        margin-top: -3.4rem;
        margin-left: -2rem;
    }
    .navbar-toggler
    {
        margin-top: -3rem;
    }
}