.projectsHeading
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

h4.projectsHeading
{
  color: rgba(255,255,255,0.98);;
}


/* EDIT WITH FLEXBOX */
.container#projectContainer {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.25);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);  
    padding: 38px;  
    filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
    
  }
  
  .wrapper#projectWrapper {
    width: 100%;
    height: 100%;
    
  }
  
  .banner-image#projectBannerImg {
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255, 0.255)
  }
  
  h1.bannerTitle{
    font-family: 'Righteous', sans-serif;
    color: rgba(255,255,255,0.98);
    text-transform: uppercase;
    font-size: 2.4rem;
  }
  
  p#projectP {
    color: #fff;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 0.8rem;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .button-wrapper#projectBtnWrapper{
    margin-top: 18px;
  }
  
  .btn#projectBtn {
    border: none;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 12px;
    font-size: 0.8rem;  
    letter-spacing: 2px;  
    cursor: pointer;
  }
  
  .btn#projectBtn + .btn#projectBtn {
    margin-left: 10px;
  }
  
  .outline#projectBtn {
    background: transparent;
    color: #00d4ffe6;
    border: 1px solid #3a5ca6;
    transition: all .3s ease;
    
  }
  
  .outline#projectBtn:hover{
    transform: scale(1.125);
    color: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9);
    transition: all .3s ease;  
  }

  .CampQuest#projectBannerImg
  {
    background-image: url(https://res.cloudinary.com/dl1g9gdvt/image/upload/v1688502059/Web%20Dev%20Portfolio/CampQuestCard_imyewp.png);
  }

  .Psyche#projectBannerImg
  {
    background-image: url(https://res.cloudinary.com/dl1g9gdvt/image/upload/v1688752195/Web%20Dev%20Portfolio/psyche_support_twbetx.png);
  }

  .TvShow#projectBannerImg
  {
    background-image: url(https://res.cloudinary.com/dl1g9gdvt/image/upload/v1689623411/Web%20Dev%20Portfolio/BestShows_dcbnhr.webp);
  }
  
  .PingPong#projectBannerImg
  {
    background-image: url(https://res.cloudinary.com/dl1g9gdvt/image/upload/v1688587057/Web%20Dev%20Portfolio/pingpong_b4txem.png);
  }

  .Candy#projectBannerImg
  {
    background-image: url(https://res.cloudinary.com/dl1g9gdvt/image/upload/v1688587567/Web%20Dev%20Portfolio/museumofcandy_odqdju.png);
  }

  .Farm#projectBannerImg
  {
    background-image: url();
  }

  .Forum#projectBannerImg
  {
    background-image: url();
  }

  .PriceTable#projectBannerImg
  {
    background-image: url(https://res.cloudinary.com/dl1g9gdvt/image/upload/v1688751618/Web%20Dev%20Portfolio/pricetable_bd2nyo.png);
  }

  .Reddit#projectBannerImg
  {
    background-image: url(https://res.cloudinary.com/dl1g9gdvt/image/upload/v1688757644/Web%20Dev%20Portfolio/Reddit-Logo-Horizontal-1600x680_djcibl.png);
  }